{% extends 'base.html' %} {% block estilos %}
<style>
  /* Estilos adicionales específicos para la página de inicio */
  h1 {
    color: blue;
  }
  .center-image {
    display: flex;
    justify-content: center;
    align-items: center; /* Opcional: Si deseas centrar verticalmente también */
  }
</style>
{% endblock %} {% block contenido %}

<!DOCTYPE html>
<html>
  <head>
    <title>Gráfica</title>
    <style>
      body {
        text-align: center;
      }
      img {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1>Gráfica generada</h1>
    <img src="{{ img_url }}" alt="Gráfica" />
  </body>
</html>
{% endblock %}
