{% extends 'base.html' %} {% block estilos %}
<style>
  .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start; /* Alinear el contenido al inicio del contenedor (izquierda) */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(135deg, #f2f2f2, #ffffff);
    padding: 20px;
  }

  .sidebar {
    width: 250px;
    background-color: #f2f2f2;
    padding: 5px;
    margin-right: 20px; /* Espacio entre el menú lateral y el contenido principal */
  }

  .sidebar h2 {
    font-size: 22px;
    color: #002240; /* Color de texto (azul oscuro) */
    padding: 10px;
    border-bottom: 2px solid #002240; /* Borde inferior de color azul oscuro */
    margin-bottom: 10px;
  }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .sidebar ul li {
    margin-bottom: 5px;
  }

  .sidebar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }

  .sidebar ul li a:hover {
    background-color: #004c80;
    color: #fff;
    transform: scale(1.05);
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 26px;
    color: #002240; /* Color de texto (azul oscuro) */
    text-align: center;
    padding: 15px;
    border: 2px solid #002240; /* Borde de color azul oscuro */
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background: none; /* Eliminamos el fondo difuminado */
  }

  p {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
  }
</style>
{% endblock %} {% block contenido %}
<div class="container">
  <div class="sidebar">
    <h2>Aplicaciones</h2>
    <ul>
      <li><a href="/loadfile">Poligonal Cerrada Brazo interno</a></li>
      <li>
        <a href="/loadfile_poldoble">Poligonal Abierta Doble punto de apoyo</a>
      </li>
      <li>
        <a href="/loadfile_poldoble_ex">Poligonal Cerrada Brazo externo</a>
      </li>
      <li>
        <a href="/calcular_ondulacion_y_velocidades"
          >Mapa Ondulación | VEMOS2017</a
        >
      </li>
      <li><a href="/calcular_azimut_post">Calcular Azimut y Distancia</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>SGT</h1>
    <p
      style="
        font-size: 15px;
        color: #333;
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 5px;
      "
    >
      Visitas: <span style="font-weight: bold">{{ visit.count }}</span>
    </p>

    <p>
      Bienvenido a nuestra página web dedicada a la geodesia y topografía. Somos
      una plataforma en línea que ofrece una amplia gama de aplicaciones y
      herramientas especializadas en estas áreas, diseñadas para ayudar a
      profesionales y entusiastas a realizar mediciones precisas, análisis
      detallados y generar informes profesionales. Nuestra página cuenta con una
      interfaz intuitiva y fácil de usar, que permite a los usuarios acceder
      rápidamente a las diversas aplicaciones disponibles. Estas aplicaciones
      abarcan diferentes aspectos de la geodesia y topografía, como el cálculo
      de coordenadas, la determinación de distancias y ángulos, la nivelación de
      terrenos, entre muchas otras.
    </p>

    <p>
      Una de las características destacadas de nuestra página es la posibilidad
      de cargar datos en diferentes formatos, como archivos de texto, CSV, Esto
      brinda una gran flexibilidad a los usuarios a la hora de trabajar con sus
      propios datos y les permite aprovechar al máximo nuestras aplicaciones.
      Además, nuestras herramientas están respaldadas por algoritmos avanzados y
      métodos geodésicos de vanguardia, lo que garantiza resultados precisos y
      confiables en cada cálculo realizado. Estamos comprometidos con la calidad
      y la precisión, y nos esforzamos por mantenernos actualizados con las
      últimas tendencias y avances en geodesia y topografía. Nuestro objetivo es
      proporcionar una solución integral para las necesidades de los
      profesionales de la geodesia y topografía, así como para estudiantes y
      entusiastas que buscan aprender y aplicar estos conocimientos en sus
      proyectos. Ya sea que necesites realizar mediciones topográficas para un
      proyecto de construcción, trazar líneas de límites precisas o realizar
      cálculos geodésicos complejos, nuestra página ofrece las herramientas
      adecuadas para ayudarte a lograr tus objetivos. Explora nuestra página y
      descubre la amplia gama de aplicaciones disponibles. Ya seas un experto en
      geodesia o un principiante en el campo, estamos aquí para respaldarte en
      tus esfuerzos y brindarte las herramientas necesarias para tener éxito en
      tus proyectos de geodesia y topografía.
    </p>
    <br />
    <p>Creado por el Ing. Sebastian Martinez</p>
  </div>
</div>

{% endblock %}
