{% extends 'base.html' %} {% block contenido %}

<h1>POLIGONAL CERRADA BRAZO INTERNO</h1>

<div class="instructions">
  <h2>Instrucciones:</h2>
  <ul>
    <li>
      Seleccione el archivo CSV de la poligonal haciendo clic en el botón
      "Archivo Poligonal, tienes que llamarlo por nombre "pol.csv" en el formato
      tal cual con los titulos igual que el ejemplo para que funcione, y los
      angulos en formato decimal".
    </li>
    <li>
      Seleccione el archivo CSV de las bases haciendo clic en el botón "Archivo
      bases".
    </li>
    <li>
      Haga clic en el botón "Procesar" para comenzar el procesamiento de los
      archivos.
    </li>
  </ul>
</div>

<a
  href="https://drive.google.com/drive/folders/1j1l5qIYM_PFh8Yo5DCeZ2flWYU8GOiNP?usp=sharing"
  target="_blank"
  class="btn-url"
  >PLANTILLAS DE EJEMPLO</a
>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="pol_file">Archivo Poligonal:</label>
  <input type="file" name="pol_file" id="pol_file" /><br /><br />

  <label for="bases_file">Archivo bases:</label>
  <input type="file" name="bases_file" id="bases_file" /><br /><br />

  <input type="submit" value="Procesar" />
</form>

{% endblock %}
