{% extends 'base.html' %} {% block contenido %}
      <title>Resultados</title>
      <style>
        /* Estilos adicionales específicos para la página de inicio */
        h1 {
          color: black;
        }
        .contenedor-principal {
          max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
          margin: 0 auto; /* Centra el contenedor en la página */
        }
        .tabla-resultados {
          max-width: 800px; /* Ajusta el valor según tus necesidades */
          margin: 0 auto; /* Centra la tabla en la página */
          table-layout: auto; /* Ajusta el tamaño de las columnas automáticamente */
        }
        .tabla-resultados th,
        .tabla-resultados td {
          text-align: center; /* Centra el contenido de las celdas */
        }
        .tabla-resultados1 {
          max-width: 600px; /* Ajusta el valor según tus necesidades */
          margin: 0 auto; /* Centra la tabla en la página */
          table-layout: auto; /* Ajusta el tamaño de las columnas automáticamente */
        }
        .tabla-resultados1 th,
        .tabla-resultados1 td {
          text-align: center; /* Centra el contenido de las celdas */
        }

        h1 {
          margin-bottom: 20px;
        }

        h2 {
          margin-top: 40px;
          margin-bottom: 10px;
        }

        table {
          width: 100%;
          border-collapse: collapse;
          font-size: 12px;
        }

        th,
        td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }

        th {
          background-color: #f2f2f2;
          font-weight: bold;
        }

        p {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        tr:nth-child(even) {
          background-color: #f5f5f5;
        }

        tr:hover {
          background-color: #eaeaea;
        }
        .center-image {
          display: flex;
          justify-content: center;
        }
      </style>
    </head>
    <body>
<h1>Resultados</h1>
<table>
  <tr>
    <td><strong>Precision:</strong></td>
    <td>1:{{ precision|floatformat:0}}</td>
  </tr>
  <tr>
    <td><strong>Tipos de Angulos:</strong></td>
    <td>{{ tipo_angulos }}</td>
  </tr>
  <tr>
    <td><strong>Suma teorica:</strong></td>
    <td>{{ suma_teorica }}</td>
  </tr>
  <tr>
    <td><strong>Suma Angular:</strong></td>
    <td>{{ suma_angular }}</td>
  </tr>
  <tr>
    <td><strong>Error Cierre Angular:</strong></td>
    <td>{{ error_cierre }}</td>
  </tr>
  <tr>
    <td><strong>Número de Vertices:</strong></td>
    <td>{{ num_vertices }}</td>
  </tr>
  <tr>
    <td><strong>Distancia Poligonal:</strong></td>
    <td>{{ dist_pol }} metros</td>
  </tr>
  <tr>
    <td><strong>Error Proyecciones Norte:</strong></td>
    <td>{{error_norte|floatformat:3}} metros</td>
  </tr>
  <tr>
    <td><strong>Error Proyecciones Este:</strong></td>
    <td>{{ error_este|floatformat:3 }} metros</td>
  </tr>
</table>


      <h2>Coordenadas de Arranque</h2>

      <table class="tabla-resultados1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Norte</th>
            <th>Este</th>
            <th>Cota</th>

            <!-- Agrega más columnas si es necesario -->
          </tr>
        </thead>
        <tbody>
          {% for arranque in arranque %}
          <tr>
            <td>{{ arranque.id }}</td>
            <td>{{ arranque.norte }}</td>
            <td>{{ arranque.este }}</td>
            <td>{{ arranque.altura }}</td>

            <!-- Muestra más columnas si es necesario -->
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>Datos de entrada</h2>

      <table class="tabla-resultados">
        <thead>
          <tr>
            <th>Armada</th>
            <th>Visado</th>
            <th>Altura Instrumental</th>
            <th>Altura Prisma</th>
            <th>Angulo Horizontal</th>
            <th>Angulo Vertical</th>
            <th>Distancia Horizontal</th>
            <th>Distancia Inclinada</th>

            <!-- Agrega más columnas si es necesario -->
          </tr>
        </thead>
        <tbody>
          {% for resultado in resultados %}
          <tr>
            <td>{{ resultado.ida }}</td>
            <td>{{ resultado.vis }}</td>
            <td>{{ resultado.alt_isn }}</td>
            <td>{{ resultado.baston }}</td>
            <td>{{ resultado.angulos_horizontales_iniciales }}</td>
            <td>{{ resultado.angulos_vertical_iniciales }}</td>
            <td>{{ resultado.dis_h|floatformat:3 }}</td>
            <td>{{ resultado.Dis_inc|floatformat:3 }}</td>

            <!-- Muestra más columnas si es necesario -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Resultados de la Poligonal</h2>
      <table class="tabla-resultados">
        <thead>
          <tr>
            <th>Angulos Horizontal Corregidos</th>
            <th>Azimuts</th>
            <th>Proyección Norte</th>
            <th>Proyección Este</th>
            <th>Proyección Cota</th>

            <!-- Agrega más columnas si es necesario -->
          </tr>
        </thead>
        <tbody>
          {% for resultado in resultados %}
          <tr>
            <td>{{ resultado.anguloh_corr }}</td>
            <td>{{ resultado.az }}</td>
            <td>{{ resultado.proy_y|floatformat:3 }}</td>
            <td>{{ resultado.proy_x|floatformat:3 }}</td>
            <td>{{ resultado.correcionZ|floatformat:3 }}</td>

            <!-- Muestra más columnas si es necesario -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Coordenadas Ajustadas</h2>
      <table class="tabla-resultados1">
        <thead>
          <tr>
            <th>Punto</th>
            <th>Norte</th>
            <th>Este</th>
            <th>Cota</th>

            <!-- Agrega más columnas si es necesario -->
          </tr>
        </thead>
        <tbody>
          {% for coordenadas in coordenadas %}
          <tr>
            <td>{{ coordenadas.id }}</td>
            <td>{{ coordenadas.norte|floatformat:3 }}</td>
            <td>{{ coordenadas.este|floatformat:3 }}</td>
            <td>{{ coordenadas.altura|floatformat:3 }}</td>

            <!-- Muestra más columnas si es necesario -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Gráfica de Poiligonal</h2>
      <div class="center-image">
        <form action="{% url 'grafica3' %}" method="get">
          <button type="submit">Ver gráfica</button>
        </form>
      </div>

{% endblock %}
